// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//--------- show ----------

// 数量输入框
.product-quantity .quantity-input {
  color: #333;
  text-align: center;
  width: 50px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #ccc;
}
