<footer class="text-center">

  <div class="footer-below">
    <div class="col-md-12 text-center">
      <div class="col-xs-4">
        <h4>登船须知</h4>
        <p>成为船员</p>
        <p>解锁课程</p>
      </div>
      <div class="col-xs-4">
        <h4>船员手册</h4>
        <p>常见问题</p>
        <p>帮助中心</p>
      </div>
      <div class="col-xs-4">
        <h4>关于我们</h4>
        <p>公司介绍</p>
        <p>联系方式</p>
      </div>
    </div>
<hr>
   <div class="col-md-12">
    <p class="text-center">Copyright ©2017 JDStore
        <br>Design by zhiduochen & segue
    </p>
  </div>
</div>
</footer>
